body {
    background-image: linear-gradient(rgb(227, 227, 227), rgb(199, 199, 199), rgb(227, 227, 227));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-image: radial-gradient(rgb(5, 58, 75), rgb(5, 32, 38), rgb(34, 31, 31));
    height: 64px;
    width: 100%;
    z-index: 10;
    transition: top 0.2s linear;
    font-weight: bold;
    font-size: 16px;
}

h1 {
    margin-top: 5rem;
    margin-left: 3rem;
    font-size: 45px;
    color: white;
    font-weight: bold;
}

h2 {
    margin-left: 3rem;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.nav-link {
    color: white;
}

ul {
    margin-right: 20rem;
    font-size: 18px;
    color: white;
}

.tmdb{
    font-size: 25px;
    margin-right: 2rem;
    font-size: 35px;

    padding: 10px;
    
    animation: pulsate 3s infinite alternate;  
    box-shadow: 0 0 .2rem rgb(0, 255, 213),
    0 0 0.2rem rgb(0, 221, 255),
    0 0 1rem #00ccff,
    0 0 0.8rem #00fbff,
    0 0 0.8rem #00ffdd,
    inset 0 0 1.3rem #13fed7; 
}

@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px rgb(0, 242, 255),
        0 0 11px rgb(0, 179, 255),
        0 0 19px rgb(0, 255, 221),
        0 0 40px #13cbfe,
        0 0 80px #13c7fe,
        0 0 90px #13d3fe,
        0 0 100px #00bfff,
        0 0 150px #00ffea;  
    }
    
    0% {
  
      text-shadow:
      0 0 2px rgb(0, 59, 89),
      0 0 4px rgb(0, 59, 81),
      0 0 6px rgb(0, 65, 103),
      0 0 10px #004360,
      0 0 45px #00467b,
      0 0 55px #004878,
      0 0 70px #00405b,
      0 0 80px #005371; 
  }
}

#search-container {
    background-image: url("/src/image/arrow.jpg");
    height: 25rem;
    width: 85rem;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#search {
    border-radius: 50px;
    width: 78rem;
    padding: 10px;
    margin-left: 3rem;
    margin-top: 3rem;
    border: 0px;
}

#search-button {
  border-radius: 50px;
  background-image: linear-gradient(rgb(0, 255, 238), rgb(0, 107, 128), rgb(0, 225, 255));
  padding: 10px;
  width: 7rem;
  margin-left: -7rem;
  font-weight: bold;
  color: white;
  font-size: 16px;
  border: 0px;
}

#bem-vindo {
    font-weight: bold;
    color: white;
    font-size: 45px;
    margin-left: 5rem;
}

#apresentacao {
    color: white;
    font-size: 25px;
    margin-left: 5rem;
    font-weight: bold;
    margin-top: -20px;
}

footer {
    display: flex;
	width: 100%;
	background-image: radial-gradient(rgb(3, 41, 53), rgb(5, 32, 38), rgb(2, 36, 41));
	padding: 4rem;
	color: #ffffff;
	position: fixed;
	bottom: 0;
	font-weight: 400;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}

img {
    margin-top: -5rem;
    margin-left: -15px;
    border: 1px;
    box-shadow: 0 0 .2rem rgb(0, 255, 213),
            0 0 .2rem rgb(0, 221, 255),
            0 0 2rem #00ccff,
            0 0 0.8rem #00fbff,
            0 0 0.8rem #00ffdd,
            inset 0 0 0.3rem #13fed7; 
}

a {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
} 

h4 {
    font-size: 20px;
}

#footer-basico {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12rem;
    margin-left: 5rem;
}

#footer-envolvase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12rem;
    margin-bottom: 3rem;
}

#footer-comunidade {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

#footer-legalidade {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
}